body hr{
  color: black;
  width: 70px;
  text-align: center;
  size: 30%;
}

h3{
  text-align: center;
  color: rgb(199,0,0);
}

input{
  text-align: center;
  color: rgb(199,0,0);
  padding: 10px;
  border: 1px solid rgb(199,0,0);
  background-color: white;
  cursor: pointer;
}

input:hover{
  border: 2px solid rgb(199,0,0);
}

.remeras{
  margin: 10px;
}

.categorias{
  margin-top: 20px;
  margin-bottom: 20px;


}

.imagenesCatalogo{
  width: 100%;
}


#hamburguer{
 margin-left: auto;
}



h6{
	position: absolute;
	width: 100%;
	color: red;
	font-size: 40px;
	text-align: center;
	top: 200px;
	margin: 0 auto;
}

#galeria{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

#galeria img{
  width: 300px;
  margin: 6px;
  opacity: 1;
  transition: 300ms
}

#galeria > div img:hover{
  opacity: 0.8;
}

.categ{
  position: relative;
}

.categ a{
  text-decoration: none;
  color: black;
}

h4{
  position: absolute;
  text-align: center;
  font-size: 22px;
  margin-top:50px;
  margin-left: 90px;
}