body hr{
  color: black;
  width: 70px;
  text-align: center;
  size: 30%;
}

.categorias{
  margin-top: 20px;
  margin-bottom: 20px;

}

.imagenesCatalogo{
  width: 100%;
}



#categoriasImg{
  width: 100%;
  margin: 10px 0px;
  opacity: 1;
  transition: 300ms;

}

#categoriasImg:hover{
	opacity: 0.8;
}

#hamburguer{
 margin-left: auto;
}



h6{
	position: absolute;
	width: 100%;
	color: red;
	font-size: 40px;
	text-align: center;
	top: 200px;
	margin: 0 auto;
}
