
nav{
	list-style: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	/*text-transform: uppercase;*/
	text-shadow: none;
}
.btn-query{
	font-family: 'Roboto', sans-serif;
	background-color: white;
	/* font-weight: bold; */
	border-bottom: 2px, solid, black;
  cursor: pointer;
  border-radius: 0px;
}
.btn-query span{
	font-weight: 600;
}

.btn-query:hover{
	background-color: rgb(199, 0, 0);
	color: white;
	transition: 0.5s;
}
.btn-query:active{
	color: rgb(199, 0, 0);
}

div .answers {
	font-family: 'Roboto',sans-serif;
}

div .answers span{
	font-weight: 600;
}

div .answers h5 {
	color: rgb(199,0,0);
}

th {
	color: rgb(199,0,0);
	font-weight: 600;
}

td span{
	color: rgb(199,0,0);
	font-weight: 600;
}

h3{
	font-family: 'Roboto',sans-serif;
}
.titulo{
	font-weight: 300;
	text-align: center;
	letter-spacing: -0.05em;
	color: rgb(199,0,0);
}
.titulo span{
	font-weight: 600;
}
