footer{
  margin-top: 20px;
  text-align: center;
  height: 250px;
}

.h2_footer{
  text-align: center;
  font-size: 14px;
}

footer h3 {
  text-align: center;
  font-size: 14px;
}

footer hr{
  margin: 10px;
}

footer h4{
  font-size: 20px;
}

footer h5{
  text-align: center;
}

footer h6{
  text-align: left;
}
